body{
    background-color: var(--color-background-body);
    display: grid;
    grid-template-rows: 6.5rem 1fr 4rem;
}
main{
    height: 100%;
    padding: .5rem;
    overflow: auto;
}
main::-webkit-scrollbar{
	width: 0.5rem;
	height: 0.5rem;
}
main::-webkit-scrollbar-thumb{
	border-radius: .5rem;
	background-color: #0004;
	visibility: hidden;
}
main:hover::-webkit-scrollbar-thumb{
	visibility: visible;
}
main div.container{
    width: 100%;
    height: 100%;
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	grid-gap: 1rem;
}
.box{
    background-color: var(--color-white);
    min-height: 20rem;
}
/*footer*/
.footer__button{
    border-radius: .3rem;
    background-color: #b3b5bd;
    background: linear-gradient(#eef0fb, #93949b);
    border: .1rem solid #64646a;
    width: 2.3rem;
    height: 2.3rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
.footer__button::before, .footer__button::after{
    --scale: 0;
    position: absolute;
    top: -.25rem;
    left: 1rem;
    transform: translateX(-50%) translateY(-100%) scale(var(--scale));
    transition: 1000ms transform;
    transform-origin: bottom center;
}
.footer__button::before{
    content: attr(data-tooltip);
    padding: .5rem;
    width: max-content;
    background: var(--color-background-head);
    color: var(--color-white);
    border-radius: .2rem;
}
.footer__button:hover::before{
    --scale: .8;
}
.footer__button:hover{
    border: none;
}