<!DOCTYPE html>
<html>

<head>
    <title>Modulo 1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/iconoSMSIC.jpg">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/interface.css">
    <link rel="stylesheet" href="../css/moduleOne.css">
</head>

<body>
    <header>
    </header>
    <main>
        <div class="container">
            <div class="box">
                <div class="box__title"><div>Tensión L-N</div><img src="../img/chart.svg" onclick="showChart([0, 1, 2])"></div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Tensión L1-N [V]:</div>
                        <div id="value_edf1_0" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Tensión L2-N [V]:</div>
                        <div id="value_edf1_1" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Tensión L3-N [V]:</div>
                        <div id="value_edf1_2" class="box__value--number">--</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title"><div>Tensión L-L</div><img src="../img/chart.svg" onclick="showChart([3, 4, 5])"></div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Tensión L1-l2 [V]:</div>
                        <div id="value_edf1_3" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Tensión L2-L3 [V]:</div>
                        <div id="value_edf1_4" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Tensión L3-L1 [V]:</div>
                        <div id="value_edf1_5" class="box__value--number">--</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title"><div>Corriente</div><img src="../img/chart.svg" onclick="showChart([6, 7, 8])"></div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Corriente L1 [A]:</div>
                        <div id="value_edf1_6" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Corriente L2 [A]:</div>
                        <div id="value_edf1_7" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Corriente L3 [A]:</div>
                        <div id="value_edf1_8" class="box__value--number">--</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title"><div>Potencia aparente</div><img src="../img/chart.svg" onclick="showChart([9, 10, 11, 22])"></div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Potencia aparente L1 [VA]:</div>
                        <div id="value_edf1_9" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia aparente L2 [VA]:</div>
                        <div id="value_edf1_10" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia aparente L3 [VA]:</div>
                        <div id="value_edf1_11" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia aparente total [VA]:</div>
                        <div id="value_edf1_22" class="box__value--number">--</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title"><div>Potencia activa</div><img src="../img/chart.svg" onclick="showChart([12, 13, 14, 23])"></div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Potencia activa L1 [W]:</div>
                        <div id="value_edf1_12" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia activa L2 [W]:</div>
                        <div id="value_edf1_13" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia activa L3 [W]:</div>
                        <div id="value_edf1_14" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia activa total [W]:</div>
                        <div id="value_edf1_23" class="box__value--number">--</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title"><div>Potencia reactiva</div><img src="../img/chart.svg" onclick="showChart([15, 16, 17, 24])"></div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Potencia reactiva L1 [var]:</div>
                        <div id="value_edf1_15" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia reactiva L2 [var]:</div>
                        <div id="value_edf1_16" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia reactiva L3 [var]:</div>
                        <div id="value_edf1_17" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia reactiva total [var]:</div>
                        <div id="value_edf1_24" class="box__value--number">--</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title"><div>Factor de potencia</div><img src="../img/chart.svg" onclick="showChart([18, 19, 20, 25])"></div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Factor de potencia L1:</div>
                        <div id="value_edf1_18" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Factor de potencia L2:</div>
                        <div id="value_edf1_19" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Factor de potencia L3:</div>
                        <div id="value_edf1_20" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Factor de potencia total:</div>
                        <div id="value_edf1_25" class="box__value--number">--</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title"><div>Frecuencia</div><img src="../img/chart.svg" onclick="showChart([21])"></div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Frecuencia [Hz]:</div>
                        <div id="value_edf1_21" class="box__value--number">--</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title"><div>Tensión máxima L-N</div><img src="../img/chart.svg" onclick="showChart([26, 27, 28])"></div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Tensión máxima L1-N [V]:</div>
                        <div id="value_edf1_26"  class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Tensión máxima L2-N [V]:</div>
                        <div id="value_edf1_27" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Tensión máxima L3-N [V]:</div>
                        <div id="value_edf1_28" class="box__value--number">--</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title"><div>Tensión máxima L-L</div><img src="../img/chart.svg" onclick="showChart([29, 30, 31])"></div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Tensión máxima L1-L2 [V]:</div>
                        <div id="value_edf1_29" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Tensión máxima L2-L3 [V]:</div>
                        <div id="value_edf1_30" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Tensión máxima L3-L1 [V]:</div>
                        <div id="value_edf1_31" class="box__value--number">--</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title"><div>Corriente máxima</div><img src="../img/chart.svg" onclick="showChart([32, 33, 34])"></div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Corriente máxima L1 [A]:</div>
                        <div id="value_edf1_32" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Corriente máxima L2 [A]:</div>
                        <div id="value_edf1_33" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Corriente máxima L3 [A]:</div>
                        <div id="value_edf1_34" class="box__value--number">--</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title"><div>Potencia aparente máxima</div><img src="../img/chart.svg" onclick="showChart([35, 36, 37])"></div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Potencia aparente máxima L1 [VA]:</div>
                        <div id="value_edf1_35" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia aparente máxima L2 [VA]:</div>
                        <div id="value_edf1_36" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia aparente máxima L3 [VA]:</div>
                        <div id="value_edf1_37" class="box__value--number">--</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title"><div>Potencia activa máxima</div><img src="../img/chart.svg" onclick="showChart([38, 39, 40])"></div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Potencia activa máxima L1 [W]:</div>
                        <div id="value_edf1_38" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia activa máxima L2 [W]:</div>
                        <div id="value_edf1_39" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia activa máxima L3 [W]:</div>
                        <div id="value_edf1_40" class="box__value--number">--</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title"><div>Potencia reactiva máxima</div><img src="../img/chart.svg" onclick="showChart([41, 42, 43])"></div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Potencia reactiva máxima L1 [var]:</div>
                        <div id="value_edf1_41" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia reactiva máxima L2 [var]:</div>
                        <div id="value_edf1_42" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia reactiva máxima L3 [var]:</div>
                        <div id="value_edf1_43" class="box__value--number">--</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title"><div>Factor de potencia máximo</div><img src="../img/chart.svg" onclick="showChart([44, 45, 46])"></div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Factor de potencia máximo L1:</div>
                        <div id="value_edf1_44" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Factor de potencia máximo L2:</div>
                        <div id="value_edf1_45" class="box__value--number">--</div>
                    </div>
                    <div class="box__body--row">
                        <div>Factor de potencia máximo L3:</div>
                        <div id="value_edf1_46" class="box__value--number">--</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
    <div class="sideBar">
    </div>

    <!--Modal chart-->
    <section id="modalChart" class="modal">
        <div class="container__chart">
            <div class="chart__title">
                <img src="../img/x.svg" id="closeModalChart">
            </div>
            <div class="chart__body">
                <canvas id="chart" class="body__canvas"></canvas>
            </div>
        </div>
    </section>
</body>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="scripts/interface.js"></script>
<script src="scripts/footer.js"></script>
<script src="scripts/moduleOne.js"></script>
</html>