<!DOCTYPE html>
<html lang="es">

<head>
    <title>Modulo 1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/iconoSMSIC.jpg">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/interface.css">
    <link rel="stylesheet" href="../css/moduleOne.css">
</head>

<body>
    <header>
    </header>
    <main>
        <div class="container">
            <div class="box">
                <div class="box__title">Tensión L-N</div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Tensión L1-N:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Tensión L2-N:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Tensión L3-N:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title">Tensión L-L</div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Tensión L1-l2:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Tensión L2-L3:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Tensión L3-L1:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title">Corriente</div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Corriente L1:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Corriente L2:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Corriente L3:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title">Potencia aparente</div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Potencia aparente L1:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia aparente L2:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia aparente L3:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia aparente total:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title">Potencia activa</div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Potencia activa L1:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia activa L2:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia activa L3:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia activa total:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title">Potencia reactiva</div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Potencia reactiva L1:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia reactiva L2:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia reactiva L3:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia reactiva total:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title">Factor de potencia</div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Factor de potencia L1:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Factor de potencia L2:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Factor de potencia L3:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Factor de potencia total:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title">Frecuencia</div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Frecuencia</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title">Tensión máxima L-N</div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Tensión máxima L1-N:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Tensión máxima L2-N:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Tensión máxima L3-N:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title">Tensión máxima L-L</div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Tensión máxima L1-L2:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Tensión máxima L2-L3:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Tensión máxima L3-L1:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title">Corriente máxima</div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Corriente máxima L1:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Corriente máxima L2:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Corriente máxima L3:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title">Potencia aparente máxima</div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Potencia aparente máxima L1:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia aparente máxima L2:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia aparente máxima L3:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title">Potencia activa máxima</div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Potencia activa máxima L1:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia activa máxima L2:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia activa máxima L3:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title">Potencia reactiva máxima</div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Potencia reactiva máxima L1:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia reactiva máxima L2:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Potencia reactiva máxima L3:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box__title">Factor de potencia máximo</div>
                <div class="box__body">
                    <div class="box__body--row">
                        <div>Factor de potencia máximo L1:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Factor de potencia máximo L2:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                    <div class="box__body--row">
                        <div>Factor de potencia máximo L3:</div>
                        <div class="box__value--number">220.45 V</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
    <div class="sideBar">
    </div>
</body>
<script src="scripts/interface.js"></script>
<script src="scripts/footer.js"></script>
<script src="scripts/moduleOne.js"></script>
</html>